.dnl-first-select{
    width: 60px;
    appearance: none;
}

.dnl-second-select{
    width: 85px;
    appearance: none;
    margin-left: 5px;
}

.dnl-first-select:hover, .dnl-second-select:hover{
    appearance: auto;
}

.dnl-sale-date-select{
    background: #f5f5f5;
    border: none;
    padding: 0 5px 5px 9px;
    cursor: pointer;
    height: 28px;
    border-radius: 4px;
}